@import '../color.scss';
@import '../register/styleR.scss';



.container {
    margin-top: 140px;
    gap: 10px;
    width: 18vw;

    .Library_pagination {
        align-items: center;
        align-self: center;
        cursor: pointer;
        display: flex;
        gap: 10px;
        color:white ;
        & .Library_pagination:hover{
            background-color: $orange;
        }

    }
    .highlighted {
        background: var(--orange);
        border-radius: 100px;
      }
        h1 {
            width: 74vw !important;
        }

        .Library_books-list {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            margin-top: 80px;

            @media screen and (min-width: 700px) {
                .Library_books-list {
                    justify-content: center;
                    align-items: center;
                }
            }

            img {
                height: 381px;
                width: 264px;
                left: 444px;
                top: 374px;
                border-radius: 0px;

            }

            .author {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;

            }

            .title {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;

            }

            .price {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #FF4E16;
            }

            .Library_new-book {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .addBook {
                    color: white;
                }


                img {
                    border: 3px solid white;

                }
            }

            .Library_book {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }

        .Search {
            display: flex;
            width: 550PX;
            height: 46PX;
            flex-direction: row;
            align-items: flex-start;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 100px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #AAAAAA;
            padding: 15px;
            border: none;
        }



        h1 {
            font-family: 'Rokkitt';
            font-style: normal;
            font-weight: 500;
            font-size: 60px;
            line-height: 68px;
            color: #FFFFFF;
            width: 55vw;
        }


    }