* {
  font-family: "Rokkitt", serif;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252525 !important;
}

.container, .containerp {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 145px;
}
@media only screen and (max-width: 1000px) {
  .container, .containerp {
    flex-direction: column;
  }
}
.container input, .containerp input {
  background-color: #FFFFFF;
}
.container .login1Left, .container .containerp .login1Leftp, .containerp .container .login1Leftp, .containerp .login1Left, .containerp .login1Leftp {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
  border: 1px solid red;
  height: 80%;
}
@media only screen and (max-width: 1000px) {
  .container .login1Left, .container .containerp .login1Leftp, .containerp .container .login1Leftp, .containerp .login1Left, .containerp .login1Leftp {
    width: 100%;
    padding: 10px;
  }
}
.container .login1Left p, .container .containerp .login1Leftp p, .containerp .container .login1Leftp p, .containerp .login1Left p, .containerp .login1Leftp p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #e3e3e3;
}
.container .login1Left h6, .container .containerp .login1Leftp h6, .containerp .container .login1Leftp h6, .containerp .login1Left h6, .containerp .login1Leftp h6 {
  font-weight: 700;
  font-size: 14px;
  color: #e3e3e3;
}
.container .login1Left h1, .container .containerp .login1Leftp h1, .containerp .container .login1Leftp h1, .containerp .login1Left h1, .containerp .login1Leftp h1 {
  font-family: Rokkitt;
  font-size: 52px;
  font-weight: 500;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #FFFFFF;
}
.container .login2Right, .container .containerp .login2Rightp, .containerp .container .login2Rightp, .containerp .login2Right, .containerp .login2Rightp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
  height: 80%;
  border: 1px solid red;
}
.container .login2Right .inputs, .containerp .login2Right .inputs, .containerp .login2Rightp .inputs {
  width: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.container .login2Right .inputs input, .containerp .login2Right .inputs input, .containerp .login2Rightp .inputs input {
  margin: 10px 0;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .container .login2Right, .container .containerp .login2Rightp, .containerp .container .login2Rightp, .containerp .login2Right, .containerp .login2Rightp {
    width: 100%;
    padding: 10px;
  }
}
.container .login2Right .newsLetter, .containerp .login2Right .newsLetter, .containerp .login2Rightp .newsLetter {
  border: 1px solid red;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 100%;
}
.container .login2Right .newsLetter p, .containerp .login2Right .newsLetter p, .containerp .login2Rightp .newsLetter p {
  font-weight: 500;
  font-size: 14px;
  color: #E3E3E3;
  margin: 0;
}
.container .login2Right .newsLetter input, .containerp .login2Right .newsLetter input, .containerp .login2Rightp .newsLetter input {
  accent-color: #FF4E16;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.container .login2Right .newsLetter input::before, .containerp .login2Right .newsLetter input::before, .containerp .login2Rightp .newsLetter input::before {
  height: auto;
}
.container .login2Right .text, .containerp .login2Right .text, .containerp .login2Rightp .text, .container .login2Right .register, .containerp .login2Right .register, .containerp .login2Rightp .register {
  width: 360px;
  height: 46px;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.container .login2Right .text::placeholder, .containerp .login2Right .text::placeholder, .containerp .login2Rightp .text::placeholder, .container .login2Right .register::placeholder, .containerp .login2Right .register::placeholder, .containerp .login2Rightp .register::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #aaaaaa;
  padding: 24px;
}
.container .login2Right .registrar, .containerp .login2Right .registrar, .containerp .login2Rightp .registrar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.container .login2Right .registrar a, .containerp .login2Right .registrar a, .containerp .login2Rightp .registrar a {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.container .login2Right .register, .containerp .login2Right .register, .containerp .login2Rightp .register {
  background-color: #FF4E16;
  color: white;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}
.container .login2Right h2, .container .containerp .login2Rightp h2, .containerp .container .login2Rightp h2, .containerp .login2Right h2, .containerp .login2Rightp h2 {
  width: 100%;
  justify-self: flex-start;
  font-weight: 500;
  font-size: 40px;
  color: #FFFFFF;
}
.container .login2Right .socialMedia, .containerp .login2Right .socialMedia, .containerp .login2Rightp .socialMedia {
  display: flex;
  gap: 18px;
  color: #FFFFFF;
}
.container .login2Right .socialMedia button, .containerp .login2Right .socialMedia button, .containerp .login2Rightp .socialMedia button {
  border-radius: 100px;
  width: 105px;
  height: 43px;
  display: inline;
  background: white;
  cursor: pointer;
}
.container .login2Right .socialMedia img, .containerp .login2Right .socialMedia img, .containerp .login2Rightp .socialMedia img {
  background-color: white;
}
.container .login2Right .line, .containerp .login2Right .line, .containerp .login2Rightp .line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .login2Right .line hr, .containerp .login2Right .line hr, .containerp .login2Rightp .line hr {
  border: 1px solid gray;
  width: 80%;
}
.container .login2Right .contaLogin, .containerp .login2Right .contaLogin, .containerp .login2Rightp .contaLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px white;
  color: white;
  border-radius: 100px;
  height: 43px;
  width: 100%;
  text-decoration: none;
  padding: 10px;
}

@media only screen and (max-width: 1100px) {
  .containerp .login1Leftp {
    width: 100%;
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
