@import "../color.scss";
@import "../nav/style.scss";

* {
  font-family: "Rokkitt", serif;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $preto !important   ;
  nav {
    background-color: $preto !important   ;
    color: rgb(165, 165, 165);
    // vertical/horizontal
    padding: 0 15px;
    height: 75px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    img{
      width: 70px;
      height: 40px;
      margin-left: 50px;
      @media (max-width: 950px) {
        margin-left: 0;
      }
    }
    .btnLogin{
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 3px white;
      background-color: $preto;
      color: white;
      border-radius: 100px;
      height: 43px;
      width: 100px;
      text-decoration: none;
      padding: 10px;
      margin-right: 100px;
      @media (max-width: 950px) {
        display: none !important;
      }
    }
    .button {
      height: 25px;
      width: 25px;
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      @media (min-width: 950px) {
        display: none !important;
        .btnLogin{
          display: none !important;
        }
      }
    }

    .button {
      height: 25px;
      width: 25px;
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      @media (min-width: 700px) {
        display: none !important;
      }
      &:hover {
        background-color: rgb(0, 0, 0);
      }
      li {
        height: 5px;
        width: 100%;
        background-color: rgb(156, 156, 156) !important;
        border-radius: 4px;
        transition: 0.3;
      }
    }

    .menu {
      background: #ddd;
      position: absolute;
      top: 75px;
      left: 0;
      right: 0;
      padding: 15px;
      text-align: right;
      flex-direction: column;
      display: none;
      margin-right: 200px;
      justify-content: space-between;
      width: 40%;

      @media (max-width: 700px) {
        margin-right: 0 !important;
        width: 100% !important;
      }
      @media (min-width: 700px) {
        display: flex !important;
        flex-direction: row;
        position: relative;
        top: 0;
        padding: 0;
        background: none;

        justify-content: space-between;

        li:not(:nth-last-child(1)) {
          margin-bottom: 0;
          margin-right: 15px;
        }
      }

      li:not(:nth-last-child(1)) {
        margin-bottom: 15px;
      }
    }
    li {
      list-style: none;
      &:hover {
        transition: 0.5;
      }
      a {
        text-decoration: none;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        color: white;
      }
      & :hover {
        text-decoration: underline;
      }
    }
  }
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  @media only screen and (max-width: 1000px) {
    flex-direction: column;
  }
  @media only screen and (min-width: 1000px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  input {
    background-color: $white;
  }

  display: flex;
  gap: 145px;

  .login1Left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 35%;
    border: 1px solid red;
    height: 80%;

    @media only screen and (max-width: 1000px) {
      display: none;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #e3e3e3;
    }

    h6 {
      font-weight: 700;
      font-size: 14px;
      color: #e3e3e3;
    }

    h1 {
      font-family: Rokkitt;
      font-size: 52px;
      font-weight: 500;
      line-height: 59px;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
      color: $white;
    }
  }

  .login2Right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; //espacemento entra as coluna/grades
    width: 35%;
    height: 80%;
    border: 1px solid red;

    .inputs {
      width: 100%;
      border: 1px solid red;
      display: flex;
      flex-direction: column;
      input {
        margin: 10px 0;
        width: 100%;
      }
    }

    @media only screen and (max-width: 1000px) {
      margin-top: 50px;
      width: 85%;
      padding: 10px;
      .register {
        width: 50% !important;
        padding: 10px;
      }
    }

    .newsLetter {
      display: flex;
      align-items: center;

      color: $white;
      width: 100%;

      p {
        font-weight: 500;
        font-size: 14px;
        color: $gray;
        margin: 0;
      }

      input {
        accent-color: $orange;
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
      & input::before {
        height: auto;
      }
    }

    .text {
      width: 360px;
      height: 46px;
      border-radius: 100px;

      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #aaaaaa;
        padding: 24px;
      }
    }
    .registrar {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      width: 100%;
      a {
        font-weight: 500;
        font-size: 14px;
        color: $white;
      }
    }

    .register {
      @extend .text;
      background-color: $orange;
      color: white;
      border: none;
      font-size: 16px;
      color: #ffffff;
      cursor: pointer;
    }

    h2 {
      width: 100%;
      justify-self: flex-start;
      font-weight: 500;
      font-size: 40px;
      color: $white;
    }

    .socialMedia {
      display: flex;
      gap: 18px;
      color: $white;

      button {
        border-radius: 100px;
        width: 105px;
        height: 43px;
        display: inline;
        background: white;
        cursor: pointer;
      }

      img {
        background-color: white;
      }
    }

    .line {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      hr {
        border: 1px solid gray;
        width: 80% !important;
      }
    }

    .contaLogin {
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 3px white;
      color: white;
      border-radius: 100px;
      height: 43px;
      width: 100%;
      text-decoration: none;
      padding: 10px;
    }
  }
}
