

body {
  background-color: #252525;
  height: 100vh;

  .BookDetailsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;

    .BookDetails {
      @media only screen and (max-width: 1000px) {
        width: 100%;
      }

      display: flex;
      flex-direction: column;
      gap: 50px;
      padding: 0 40px 40px;
      width: 1280px;

      .BookDTitle {
        @media only screen and (max-width: 1000px) {
          justify-content: center;
          align-items: center;
          .BookTitleDetails {
            flex-direction: column;
          }
        }
        align-items: center;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        margin-top: 25px;

        .BookTitleLibrary {
          color: #ff4e16;
          cursor: pointer;
        }

        .BookTitleDetails {
          color: #fff;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
        }
      }

      .BookSContainer {
        @media only screen and (max-width: 1000px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        display: flex;
        gap: 50px;

        .BookInteract {
          align-items: flex-start;
          display: flex;
          gap: 24px;

          .BookCover {
            width: 360px;
            height: 520px;
            @media only screen and (max-width: 1000px) {
              width: 266px;
              height: 366px;
            }
          }

          .BookInteraction {
            @media only screen and (max-width: 1000px) {
              display: none !important;
            }
            color: #fff;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            font-family: "Rubik", sans-serif;
            font-size: 12px;
            font-weight: 500;
            gap: 20px;

            .BookInteractLike {
              align-items: center;
              display: flex;
              gap: 8px;
            }

            .BookInteractDislike {
              align-items: center;
              display: flex;
              gap: 8px;
            }
          }
        }

        .BookDescriptionContainer {
          display: flex;
          flex-direction: column;
          @media only screen and (max-width: 1000px) {
            width: 266px;
          }
          .BookTitleIntercation {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
              display: none;
              @media only screen and (max-width: 1000px) {
                display: flex !important;
              }
            }
            .BookDescriptionTitle {
              color: #fff;
              font-family: "Rubik", sans-serif;
              font-size: 40px;
              font-weight: 500;
              max-width: 650px;
              @media only screen and (max-width: 1000px) {
                font-size: 32px;
              }
            }
          }
          .ContainerInteract {
            display: none;
            @media only screen and (max-width: 1000px) {
              display: flex !important;
            }
            .BookInteractLike2,
            .BookInteractDislike2 {
              display: flex;
              color: #fff;
              padding: 5px;
              img {
                margin-right: 10px;
                height: 22px;
                margin-top: 15px;
              }
            }
          }
          .BooKDesAut {
            align-items: center;
            display: flex;
            font-family: "Rubik", sans-serif;
            color: #fff;
            font-size: 16px;
            font-weight: 400;

            .Dot {
              margin: 10px;
            }
            .SubAutTitle {
              color: rgb(170, 170, 170);
            }
          }

          .BookEditora {
            font-family: "Rubik", sans-serif;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
          }

          .BookPrice {
            color: #ff4e16;
            font-family: "Rubik", sans-serif;
            font-size: 28px;
            font-weight: 500;
          }

          .BookDisponibilidade {
            color: #fff;
            font-weight: 500;

           
            .BookDisponibilidadeSub {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
